/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    min-height: 100vh;
}

#Header {
    background-color: #003cff;  /* Cor mais suave */
    color: white;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.Title {
    font-size: 2.5rem;
    font-weight: bold;
}

main {
    padding: 2rem;
}

.Glossary {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.GlossaryItem {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.GlossaryItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.Paragraph {
    font-size: 1.2rem;
    text-align: center;
    color: #333;
}

/* Responsividade */
@media (max-width: 600px) {
    .Title {
        font-size: 2rem;
    }

    .GlossaryItem {
        padding: 0.8rem;
    }
}
